:root {
  --bgColor1: #3f8fdf;
  --bgColor2: rgba(225, 223, 223, 0.478);
}

html,
body {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 3rem;
  background-color: var(--bgColor1);
  color: white;
}

#content {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  height: 90vh;
}

/* 
* ------------------- left side -------------------
*/

#left-side {
  background-color: var(--bgColor2);
  padding: 1rem;
}

#left-side > div:first-child {
  justify-self: start;
  align-self: start;
  font-size: 2rem;
}

#home {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

#projects {
  display: grid;
  grid-template-columns: 1fr;
}

#projects > div:first-child {
  justify-self: start;
  font-size: 2rem;
}

.project {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  align-items: center;
}

.project:hover {
  cursor: pointer;
  background-color: red;
}

#all-tasks:hover,
#today:hover,
#this-week:hover,
#important:hover {
  cursor: pointer;
  background-color: red;
}

/*
* ------------------- right side -------------------
*/
#right-side {
  padding: 2rem;
}

#project-name-header {
  font-size: 2rem;
  margin-bottom: 2rem;
}
img {
  width: 1.1rem;
  height: auto;
}

.important:hover,
.task-options:hover {
  cursor: pointer;
  background-color: rgb(216, 216, 216);
}

.task-container {
  position: relative;
  display: grid;
  grid-template-columns: 0.8fr 0.5fr 0.3fr 0.1fr;
  border: 2px solid blue;
}

.optional-buttons {
  position: absolute;
  top: 120%;
  left: 95%;
  background-color: rgb(207, 207, 207);
  padding: .25rem;
  box-shadow: 1px 1px 3px 1px rgb(233, 233, 233);
  z-index: 1;
}

.task-delete-button:hover, 
.task-edit-button:hover {
  cursor: pointer;
  background-color: rgb(184, 184, 184);
}

#edit-task-form {
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: 1;
}
/*
* ------------------- form -------------------
*/

.hidden {
  display: none;
}
